body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: black;
}
.content{
    width: 1300px;
    height: 500px;
    border:2px solid black;
    border-radius: 9px;
    background: black;
    color: white;    
}
p{
 font-size: 15px; 
 word-spacing: 8px;   
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
